<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> {% block title %}{% endblock %} - Ione Axelrod</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    {% for message in get_flashed_messages() %}
      <section class="flash">{{ message }}</section>
    {% endfor %}
    <section id="content"> {% block content %}{% endblock %}</section>
    <footer id="footer"> {% block footer %}
      &copy; Copyright 2024 by Ione Axelrod
      {% endblock %}</footer>
  </body>
</html>
